<ng-container *transloco="let t">
  <mat-checkbox
    color="accent"
    [checked]="!!options.fetchDescriptions"
    (change)="toggleFetchDescriptions()"
  >
    <span [class.white]="color === 'white'">{{ t('options.fetch-descriptions') }}</span>
  </mat-checkbox>
  <mat-checkbox color="accent" [checked]="!!options.onlyUnread" (change)="toggleOnlyUnread()">
    <span [class.white]="color === 'white'">{{ t('options.only-unread') }}</span>
  </mat-checkbox>
  <mat-checkbox color="accent" [checked]="!!options.readOnScroll" (change)="toggleReadOnScroll()">
    <span [class.white]="color === 'white'">{{ t('options.read-on-scroll') }}</span>
  </mat-checkbox>
</ng-container>
