<ng-container *transloco="let t">
  <mat-progress-spinner
    *ngIf="loggingOut"
    mode="indeterminate"
    diameter="36"
    color="accent"
  ></mat-progress-spinner>
  <button *ngIf="!loggingOut" mat-raised-button color="accent" type="button" (click)="logout()">
    {{ t('menu.logout') }}
  </button>
</ng-container>
