<ng-container *transloco="let t">
  <mat-nav-list *ngIf="!loading">
    <a
      *ngFor="let category of categories; trackBy: trackCategory"
      mat-list-item
      [routerLink]="['/categories', category.id]"
      [activated]="activeCategory?.id === category.id"
      [class.active]="activeCategory?.id === category.id"
      (click)="handleCategoryClicked(category)"
      class="category-link"
    >
      <rss-category-title
        [category]="category"
        [active]="activeCategory?.id === category.id"
      ></rss-category-title>
    </a>
  </mat-nav-list>
  <ng-template *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="36"></mat-progress-spinner>
  </ng-template>
</ng-container>
