<ng-container *transloco="let t">
  <header class="header">
    <mat-toolbar color="primary">
      <div class="toolbar">
        <span>NgRSS</span>

        <ng-container>
          <div fxHide.lt-md>
            <rss-options color="white"></rss-options>
          </div>

          <div fxHide fxShow.lt-md *ngIf="activeCategory">
            <rss-category-title [category]="activeCategory"></rss-category-title>
          </div>

          <div fxHide.lt-md>
            <rss-logout-btn></rss-logout-btn>
          </div>
          <div fxHide fxShow.lt-md>
            <button mat-icon-button [matMenuTriggerFor]="burgerMenu">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </mat-toolbar>
  </header>

  <mat-menu #burgerMenu>
    <div class="burger-menu">
      <button mat-button (click)="openOptionsDialog()">{{ t('menu.view-options') }}</button>
      <button mat-button (click)="openCategoriesDialog()">{{ t('menu.view-categories') }}</button>
      <rss-logout-btn></rss-logout-btn>
    </div>
  </mat-menu>

  <div class="container" [ngClass.lt-md]="{ sm: true }">
    <div class="categories" fxHide.lt-md>
      <rss-categories-list></rss-categories-list>
    </div>
    <div class="articles" [ngClass.lt-md]="{ sm: true }">
      <rss-articles-list></rss-articles-list>
    </div>
  </div>
</ng-container>
