.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--rss-header-height);
  z-index: 100;
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  padding: 8px;
}

.burger-menu > * {
  margin-bottom: 8px;
}

.container {
  display: flex;
  max-width: 1600px;
  margin: auto;
}

.container.sm {
  margin: 0 4px;
}

.categories {
  width: 300px;
  position: fixed;
  height: calc(100vh - var(--rss-header-height-with-margin));
  overflow-y: auto;
}

.articles {
  margin-left: 20%;
  width: 75%;
}

.articles.sm {
  width: 100%;
  margin-left: 0;
}
