<ng-container *transloco="let t">
  <ng-container *ngIf="category">
    <span
      [matBadge]="category.unreadCount"
      [matBadgeHidden]="category.unreadCount === 0"
      matBadgePosition="above after"
      matBadgeSize="small"
      matBadgeColor="accent"
      class="badge"
      [class.active]="active"
    >
      <ng-container *ngIf="category.isSpecial">
        {{ t(category.title) }}
      </ng-container>
      <ng-container *ngIf="!category.isSpecial">
        {{ category.title }}
      </ng-container>
    </span>
  </ng-container>
</ng-container>
