.actions {
  display: flex;
  justify-content: space-around;
}

.action {
  width: 48%;
}

.card {
  margin-bottom: 16px;
  touch-action: pan-y !important;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

.card.read * {
  opacity: 0.5;
}

.cancel-swipe {
  transition: transform 0.2s;
}

.read-on-scroll {
  height: calc(100vh - var(--rss-header-height-with-margin));
}
