<ng-container *transloco="let t">
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="36"></mat-progress-spinner>
  <ng-container *ngIf="!loading && articles.length > 0">
    <div>
      <mat-card
        *ngFor="let article of articles; trackBy: trackArticle"
        class="card"
        [ngStyle]="{
          transform:
            slidArticle?.id === article.id && !swipeCanceled
              ? 'translateX(' + slideXCoord + 'px)'
              : ''
        }"
        [class.read]="article.isRead"
        [class.cancel-swipe]="slidArticle?.id === article.id && swipeCanceled"
        [rssReadOnScroll]="article"
        [@.disabled]="slidArticle?.id !== article.id"
        @deletion
        (@deletion.done)="completeSwipe()"
        (panmove)="onPan($event, article)"
        (pancancel)="cancelSwipe()"
        (panend)="onSwipe($event, article)"
      >
        <a
          class="title-link"
          [href]="article.link"
          target="_blank"
          (click)="markArticleAsRead(article)"
          (auxclick)="markArticleAsRead(article)"
        >
          <mat-card-header>
            <mat-card-title>
              {{ article.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ article.feedTitle }}
              ({{ article.updatedAt | translocoDate: { dateStyle: 'short', timeStyle: 'short' } }})
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content *ngIf="displayDescriptions">
            <ng-container
              *ngIf="
                article.description.length > maxDescriptionLength &&
                  !showMoreStatusForArticles.get(article.id);
                else showFullDescription
              "
            >
              <p>{{ article.description | slice: 0 : maxDescriptionLength }}&nbsp;(…)</p>
              <button mat-button (click)="showMoreForArticle(article)">
                {{ t('articles.show-more') }}
              </button>
            </ng-container>
            <ng-template #showFullDescription>
              <p>{{ article.description }}</p>
              <button
                mat-button
                *ngIf="article.description.length > maxDescriptionLength"
                (click)="showLessForArticle(article)"
              >
                {{ t('articles.show-less') }}
              </button>
            </ng-template>
          </mat-card-content>
        </a>

        <mat-card-actions class="actions">
          <button
            *ngIf="!article.isRead; else markAsUnread"
            class="action"
            mat-raised-button
            color="accent"
            type="button"
            (click)="markArticleAsRead(article)"
          >
            <mat-icon>mail_outline</mat-icon>
            {{ t('articles.mark-as-read') }}
          </button>
          <ng-template #markAsUnread>
            <button
              class="action"
              mat-raised-button
              type="button"
              (click)="markArticleAsUnread(article)"
            >
              <mat-icon>mail</mat-icon>
              {{ t('articles.mark-as-unread') }}
            </button>
          </ng-template>

          <button
            *ngIf="!article.isFavorite; else markAsNotFavorite"
            class="action"
            mat-raised-button
            type="button"
            (click)="markArticleAsFavorite(article)"
          >
            <mat-icon>star_border</mat-icon>
            {{ t('articles.mark-as-favorite') }}
          </button>
          <ng-template #markAsNotFavorite>
            <button
              class="action"
              mat-raised-button
              type="button"
              (click)="markArticleAsNotFavorite(article)"
            >
              <mat-icon>star</mat-icon>
              {{ t('articles.mark-as-not-favorite') }}
            </button>
          </ng-template>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="read-on-scroll" *ngIf="canReadOnScroll && articles.length > 0"></div>
  </ng-container>
  <ng-container *ngIf="!loading && articles.length === 0">
    <p>{{ t('articles.no-articles') }}</p>
  </ng-container>
</ng-container>
