<ng-container>
  <div class="content-container">
    <div class="loader" *ngIf="navigating">
      <mat-progress-spinner mode="indeterminate" diameter="36"></mat-progress-spinner>
    </div>

    <router-outlet *ngIf="!navigating"></router-outlet>
  </div>
</ng-container>
