<div mat-dialog-content *transloco="let t">
  <rss-categories-list (categoryClicked)="close()"></rss-categories-list>

  <button mat-raised-button (click)="close()">
    {{ t('menu.close') }}
  </button>
</div>
