<h1 class="title">NgRSS</h1>

<form class="container" [formGroup]="loginForm" (ngSubmit)="login()" *transloco="let t">
  <div>
    <mat-form-field>
      <mat-label>{{ t('login.host') }}</mat-label>
      <input matInput formControlName="host" placeholder="https://example.com" required />
      <mat-error *ngIf="loginForm.get('host')?.hasError('required')">{{
        t('login.errors.host-required')
      }}</mat-error>
      <mat-error *ngIf="loginForm.get('host')?.hasError('url')">{{
        t('login.errors.host-url')
      }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>{{ t('login.username') }}</mat-label>
      <input matInput formControlName="username" required />
      <mat-error>{{ t('login.errors.username-required') }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>{{ t('login.password') }}</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error>{{ t('login.errors.password-required') }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>{{ t('login.rssBackend') }}</mat-label>
      <mat-select formControlName="rssBackend">
        <mat-option [value]="'TTRSS'">TTRSS</mat-option>
      </mat-select>
      <mat-error>{{ t('login.errors.rssBackend-required') }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-progress-spinner
      *ngIf="loggingIn"
      mode="indeterminate"
      diameter="36"
    ></mat-progress-spinner>
    <button
      *ngIf="!loggingIn"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      {{ t('login.login') }}
    </button>
  </div>
</form>
