/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;

  --mdc-theme-primary: #673ab7;
  --mdc-theme-primary-light: rgba(103, 58, 183, 0.75);
  --rss-header-height: 64px;
  --rss-header-height-with-margin: 72px;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container.red-snackbar {
  --mdc-snackbar-container-color: #b34045;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
